<div id="navigation">
    <ul>
        <li><a href="/">빵구뽕</a></li>
        <li><a href="/guestbook">방명록</a></li>
        <li><a href="/guestbook/spa">방명록(spa)</a></li>
        <li><a href="/board?pageNum=1">똥글모음</a></li>
        <li><a href="/gallery">갤르리</a></li>
    </ul>
</div>