<!DOCTYPE html>
<html>
<head>
<title>mysite</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="/assets/css/guestbook-spa.css"	rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script type="text/javascript" src="/assets/js/jquery/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="/assets/ejs/ejs.js" type="text/javascript"></script>
<script>
var isEnd = false;
var isFetching = false;
var fetch = function(no) {
	if(isEnd) {
		return;
	}

	if(isFetching) {
		return;
	}
	isFetching = !isFetching;

	$.ajax({
		url: "/api/guestbook?no="+no,
		dataType: "json",	
		data: '',
		type: "get", 		
		contentType: "application/json",	 
		success: function(response){
			console.log('똥글똥글');
			if(response.data.length === 0) {
				isEnd = !isEnd;
			}
			var html = listEJS.render(response);
			$("#list-guestbook").append(html);
			isFetching = !isFetching;
		}
	})

};
var listEJS = new EJS({
	url: "/assets/ejs/list-template.ejs"
});
var listItemEJS = new EJS({
	url: "/assets/ejs/listitem-template.ejs"
});

var addGuestbook = function(){
	console.log("조지기");
	vo = {}
	vo.name = $("#input-name").val();
	if(vo.name == "") {
		messageBox('오류', '이름이 비었습니다.');
		return;
	}
	vo.password = $("#input-password").val();
	if(vo.password == "") {
		messageBox('오류', '비밀번호를 입력해주세요.');
		return;
	}
	vo.message =  $("#tx-content").val()
	if(vo.message == "") {+-+
		messageBox('오류', '내용이 비었습니다.');
		return;
	}
	$.ajax({
		url: "/api/guestbook/add",
		dataType: "json",
		type: "post",
		contentType: "application/json",
		data: vo,
		success: function(response) {
			var html = listItemEJS.render(response.data);
			$("#add-form")[0].reset();
			$("#list-guestbook").prepend(html);

			$("#input-name").val(""); 
			$("#input-password").val("");	
			$("#tx-content").val("");
		}
	});
};


var messageBox = function(title, message) {
	$("#dialog-message").dialog({
		title: title,
		modal: true,
		buttons: {
			"닫기": function(){
				$(this).dialog("close");
			}
		}
	});
	$("#dialog-message p").text(message);
};


$(function(){
	$(window).scroll(function(){
		var flag = true;
		var $window = $(this);
		var windowHeight = $window.height();
		var scrollTop = $window.scrollTop();
		var documentHeight = $(document).height();
		if(scrollTop + windowHeight + 10 > documentHeight) {
			let no = $("#list-guestbook li:last-child").attr("data-no");
			fetch(no);
		}
	 });
	
	 $("#add-form").submit(function(event){
		 console.log('똥글추가'); 
		 event.preventDefault();
		 addGuestbook();
	 });
	 
	 $("#btn-fetch").click(function(event){
		 console.log('똥글가져오기') 
		 let no = $("#list-guestbook li:last-child").attr("data-no");
		 fetch(no);
	 });
	 
	 $(document).on("click", "#list-guestbook li a", function(event){
		 event.preventDefault();
		 let no = $(this).data("no");
		 $("#hidden-no").val(no);
		 deleteDialog.dialog("open");
	 });
	 
	 const deleteDialog = $("#dialog-delete-form").dialog({
		autoOpen: false,	
		width: 330,
		height: 270,
		modal: true,
		buttons: {
			"삭제": function(){
				const no = $("#hidden-no").val();
				const password = $("#password-delete").val();
				console.log(password);
				console.log(no);
				$.ajax({
					url: "/api/guestbook/" + no,
					dataType: "json",
					type: "delete",
					data: { 'password' : password },
					success: function(response){
						if(response.data == null){
							$(".validateTips.error").show();
							return;
						}
						$("#list-guestbook li[data-no="+ response.data +"]").remove();
						deleteDialog.dialog("close");
					}
				});
			},
			"닫기": function(){
				$(this).dialog("close");
			}
		},
		close: function(){
			$("#password-delete").val("");
			$("#hidden-no").val("");
			$(".validateTips.error").hide(); // 조건문으로?
		}
 	 });
	 fetch(0); // 초기 데이터 셋팅
 });
</script>
</head>
<body>
	<div id="container">
		<%-include('../includes/header')%>

		<div id="content">
			<div id="guestbook">
				<h1>방명록</h1>
				<form id="add-form" action="" method="post">
					<input type="text" id="input-name" placeholder="이름"> 
					<input type="password" id="input-password" placeholder="비밀번호">
					<textarea id="tx-content" placeholder="내용을 입력해 주세요."></textarea>
					<input type="submit" value="조지기" />
				</form>
				<ul id="list-guestbook">
					
				</ul>

				<div style="margin: 20px 0 0 0">
					<button id="btn-fetch">똥글 더 가져오기</button>
				</div>

				<div id="dialog-delete-form" title="메세지 삭제" style="display: none">
					<p class="validateTips normal">작성시 입력했던 비밀번호를 입력하세요.</p>
					<p class="validateTips error" style="display: none">비밀번호가 틀립니다.</p>
					<form>
						<input type="password" name="password" id="password-delete"
							value="" class="text ui-widget-content ui-corner-all"> <input
							type="hidden" id="hidden-no" value=""> <input
							type="submit" tabindex="-1"
							style="position: absolute; top: -1000px">
					</form>
				</div>
				
				
				<div id="dialog-message" title="" style="display: none">
					<p></p>
				</div>
			</div>
		</div>
		<%-include('../includes/navigation')%>
		<%-include('../includes/footer')%>
	</div>
</body>
</html>